#Removed To Github
.vscode/
Python Testing/
lib/
QA Roadmap
Selenium Study Guide for QA
/allure-results/
/allure-report/
/.cache/
/.config/
/.landscape/
/.local/
/.npm/
/.copilot/
/.vscode-server/
.bash_history
.bash_logout
.bashrc
.gitconfig
.motd_shown
.profile

